anyio
apex==0.1
appdirs
argon2-cffi
argon2-cffi-bindings
attrs
Babel
backcall
beautifulsoup4
bleach
brotlipy==0.7.0
certifi
cffi
charset-normalizer
click
coloredlogs
configmypy==0.1.0
cryptography
cycler
debugpy
decorator
defusedxml
docker-pycreds==0.4.0
einops
entrypoints
exceptiongroup==1.2.0
fastjsonschema
filelock
flatbuffers
flit_core
fonttools==4.25.0
gitdb
GitPython
gmpy2
h5py
huggingface-hub
humanfriendly
idna
importlib-metadata
importlib-resources
iniconfig==2.0.0
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
joblib
json5
jsonschema
jupyter
jupyter-console
jupyter-server
jupyter_client
jupyter_core
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
kiwisolver
lxml
MarkupSafe
matplotlib
matplotlib-inline
mistune
mkl-fft==1.3.1
mkl-random
mkl-service==2.4.0
mpmath
munkres==1.1.4
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
neuraloperator==0.2.0
nose==1.3.7
notebook
notebook_shim
numpy
onnx
onnxruntime
packaging
pandocfilters
parso
pathtools==0.1.2
pexpect
pickleshare
Pillow==9.4.0
pkgutil_resolve_name
pluggy==1.2.0
ply==3.11
prometheus-client
prompt-toolkit
protobuf==4.21.8
psutil
ptyprocess
pycparser
pyFFTW
Pygments
pyOpenSSL
pyparsing
PyQt5-sip==12.11.0
pyrsistent
PySocks
pytest==7.4.3
pytest-mock==3.11.1
python-dateutil
pytz
PyYAML
pyzmq
qtconsole
QtPy
requests
ruamel.yaml
ruamel.yaml.clib
scikit-learn
scipy
Send2Trash
sentry-sdk
setproctitle
sip
six
smmap
sniffio
soupsieve
sympy
tensorly==0.8.1
tensorly-torch==0.4.0
terminado
threadpoolctl
timm
tinycss2
toml
tomli
torch==1.13.1
torch-geometric
torchaudio==0.13.1
torchvision==0.14.1
tornado
tqdm==4.66.1
traitlets
typing_extensions
urllib3
wandb
wcwidth
webencodings==0.5.1
websocket-client
widgetsnbextension
zipp
